#logo{
    width: 2rem;
    height: 2rem;
}

p#logotxt {
    padding-top: 16px;
    color: aliceblue;
}
#card1{
    width: 50%;
    height: 30%;
    margin-left: 126px

    
}
#h3{
    color: aliceblue;
}
#card2{
    padding: 40px;
}
#img1{
    width: 83px;
    height: 40px;
    padding-left: 30px;
}
#img2{
    width: 83px;
    height: 40px;
    padding-left: 30px;
}
#img3{
    width: 83px;
    height: 40px;
    padding-left: 30px;

}
.card-body {
    padding-left: 121px;
}
.pcontainer{
    padding: 30px;
}
#istockpic{
    
    width: 260px;
    padding: 20px;
    margin-left: 166px
    
}
.istockpicbg{
    padding: 60px;
}