#logo{
    width: 2rem;
    height: 2rem;
}

p#logotxt {
    padding-top: 16px;
    color: aliceblue;
}
#card1{
    width: 50%;
    height: 30%;
    margin-left: 126px

    
}
#h3{
    color: aliceblue;
}
#card2{
    padding: 40px;
}
#img1{
    width: 83px;
    height: 40px;
    padding-left: 30px;
}
#img2{
    width: 83px;
    height: 40px;
    padding-left: 30px;
}
#img3{
    width: 83px;
    height: 40px;
    padding-left: 30px;

}
.card-body {
    padding-left: 121px;
}
.pcontainer{
    padding: 30px;
}
#istockpic{
    
    width: 260px;
    padding: 20px;
    margin-left: 166px
    
}
.istockpicbg{
    padding: 60px;
}


/* Card Styling */

.card {
    
    max-width: 461px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border: none;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
#ikpic{
    width: 121px;
    border-radius: 127px;
    margin-left: 160px;
    
}  
#ikpic1{
    width: 140px;
    border-radius: 127px;
    margin-left: 160px;
    margin-top: 19px
}  
.cardcon{
    padding-top: 30px;
    padding-left: 187px;
    padding-right: 100px;
}
.table{
    border: 2px solid black;
    padding: 30px 30px;
}